body {
    font-family: Arial, sans-serif;
    background-color: #f54c4c;
}

.container {
    max-width: 700px;
    padding: 200px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


  